<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!--v-bind
    : 연결하겠다. data에서 관리되는 특정 속성의 값이 연결된다.
    -->
    <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p> <!--뷰 디렉티브(클래스 바인딩)-->
    <p>{{ doubleNum }}</p> <!--데이터 바인딩-->
    <!-- v-if
      : else의 경우 DOM을 아예 제거
    -->
    <div v-if="loading"> 
      Loading...
    </div>
    <div v-else>
      test user has been logged in
    </div>
    <!-- v-show
      : else의 경우 display:none으로 육안상으로만 감춤
    -->
    <div v-show="loading"> 
      Loading...
    </div>

    <!-- TODO: 인풋 박스를 만들고 입력된 값을 P 태그에 출력해보기 -->
    <input type="text" v-model="message">
    <p>{{ message }}</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script> 
    new Vue({
      el: '#app',
      data: {
        num: 10,
        uuid: 'abc1234',
        name: 'text-blue',
        loading : true,
        message: ''
      },
      // computed
      // : 데이터의 값에 따라 바뀌는 속성
      computed: {
        doubleNum: function(){
          return this.num * 2;
        }
      }
    })
  </script>
</body>
</html>